body {

  background-image: radial-gradient(circle at top , yellow, red 20%, purple,black 40%);
  background-size: cover;             
  background-position: center;
  background-repeat: no-repeat;  
  height: 100vh;
  background-attachment: fixed;     
}


.App-logo {
  padding: 15px;
  width: auto;
  height: 150px;
}


.App-header {
 
  min-height: 100vh;
  color: white;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;;
  
}

.App-header h1{
font-weight: bold;
font-size: 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
