
.Home-header {
    color: white;
}

.Home-header h1{
    font-size: 15vh;
    font-family: "NHLFont";
    text-shadow: -1px -1px .5 #383636,
                0   -1px .5 #383636,
                1px -1px .5 #383636,
                1px  0   .5 #383636,
                1px  1px .5 #383636,
                0    1px .5 #383636,
                -1px  1px .5 #383636,
                -1px  0   .5 #383636;
}

.Home-logo {
    padding: 15px;
    width: auto;
    height: 250px;
  }

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(250, 122, 2, 0), rgb(248, 115, 7), rgba(250, 122, 2, 0));
}
h4{
    color:white;
    
}
h4, h5{
    font-family: 'Times New Roman', Times, serif;
}

.Home-links, .page-links{
    display: flex;
}

.Home-links a {
    padding-left:15px;
    padding-right: 15px;
}
.page-links .card{
    max-width: 20rem;
    color:white;
    border:none;
    /* border-color:  rgb(248, 115, 7); */
    padding:10px;
    
}

/* .real-link .card{
    box-shadow: 2px 2px 15px rgb(248, 115, 7), -2px -2px 15px rgb(87, 2, 87) ;
} */

/* 
.page-links .real-link .card:hover{
    max-width: 18rem;
    color:white;
    border-color:  rgb(248, 115, 7); 
    padding:10px;
    transform: scale(1.05);
    z-index: 9;
    box-shadow: 0px 0px 10px rgb(248, 115, 7);
    -webkit-transition: transform 1s ease;
    -moz-transition:transform 1s ease;
    -ms-transition:transform 1s ease;
} */